
.ib {
    display: inline-block;
    vertical-align: top;
}

.bord {
    border: 1px solid #BBB;

}

.rosu {
    background-color: red;

}

.albastru {
    background-color: blue;

}

.verde {
    background-color: green;

}

 




.w100p {
	width: 100%;
	
} 

.h100 {
	height: 100px;
	
}

.h50 {
	height: 50px;
}

.w50p {
	width: 50%;
	
} 

.w10p {
	width: 10%;
	
} 

.w30p {
	width: 30%;
	
} 

.minw300{
	min-width: 300px;
}

.minw200{
	min-width: 200px;
}

.minw100{
	min-width: 100px;
}

.minw300{
	min-width: 300px;
}

.maxw700 {
	max-width: 700px;
	
}


