.h1 {
   font-weight: bold;
   font-size: 16px;
   font-family: "Courier New";
   color: #08001f;
}

.h2 {
    font-weight: bold;
    font-size: 14px;
    font-family: "Courier New";
    color: #08001f;
}

.h3 {
    font-weight: bold;
    font-size: 12px;
    font-family: "Courier New";
    color: #08001f;
}