/********** (ipad) **********/
@media screen and (max-width: 790px) {

	.parinte .copil {
		width: 98%;
		height: 80px;
		
	}
	 
}




/********** (telefon) **********/
@media screen and (max-width: 440px) {
	
	.parinte .copil .nepot {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		height: 82px;
		
	}
	
}

