

.parinte {
	margin-left: auto!important;
    margin-right: auto!important;
    max-width: 935px;
    width: 100%;
    margin-top: 90px;
    height: auto;
	
}

.parinte .copil {
	width: 32%;
	height: 85px;
	 
}

.parinte .copil .nepot {
	width: 10%;
	height: 82px;
	
}






















/****** nefolosite ****/

.left {
    float: left!important;
}

.right {
    float: right!important;
}

.clear {
    clear: both;
}

.center-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

ul {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: rgb(18, 65, 185);
}

.ccc {
    background-color: #ccc;
}

.eee {

    background-color: #EEE;

}

.fff {
    background-color: #fff;
}

 




